fastapi>=0.103.1
uvicorn>=0.23.2
python-multipart>=0.0.6
python-jose[cryptography]>=3.3.0
msal>=1.25.0
python-dotenv>=1.0.0
pydantic>=2.3.0 
azure-cosmos>=4.5.0 
pymupdf>=1.23.4
openai==2.8.1
json-repair==0.54.1
azure-storage-blob==12.27.1
